@model IEnumerable<NgoProjectNew1.Models.NgoRegMember>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a{
        padding-left:10px;
    }
   
</style>

<div class="container border-success">
    <h1>User Details</h1>

    @*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNo)
                </th>
                @*            <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                @*            <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>*@
                @*            <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    @*            <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>*@
                <td>
                    <div class="container ml-auto "  >
                        <a asp-action="Edit" asp-route-id="@item.MemberId"><i style="color: #344D67; " class="bi bi-pencil-fill"></i></a> 
                        <a asp-action="Delete" asp-route-id="@item.MemberId"><i style="color:red;font-size:20px" class="bi bi-trash-fill"></i></a> 
                        <a asp-action="Details" asp-route-id="@item.MemberId"><i style="font-size:20px;color:green" class="bi bi-three-dots"></i></a>

                    </div>
                   

                </td>
                </tr>
            }
        </tbody>
    </table>
</div>

